LOCATE COMP "rx" SITE "H18";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "builtin_led" SITE "L2";
IOBUF PORT "builtin_led" IO_TYPE=LVCMOS33;

LOCATE COMP "rst" SITE "H4";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE "J16";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE "L5";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE "M4";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE "R3";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "J18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "P16";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "L4";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "N4";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[0]" SITE "K5";
IOBUF PORT "gpios[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[1]" SITE "B3";
IOBUF PORT "gpios[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[2]" SITE "E19";
IOBUF PORT "gpios[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[3]" SITE "A2";
IOBUF PORT "gpios[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[4]" SITE "K4";
IOBUF PORT "gpios[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[5]" SITE "B2";
IOBUF PORT "gpios[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

LOCATE COMP "sda0" SITE "K4";
IOBUF PORT "sda0" IO_TYPE=LVCMOS33;

LOCATE COMP "scl0" SITE "B2";
IOBUF PORT "scl0" IO_TYPE=LVCMOS33;

LOCATE COMP "sda1" SITE "K4";
IOBUF PORT "sda1" IO_TYPE=LVCMOS33;

LOCATE COMP "scl1" SITE "B2";
IOBUF PORT "scl1" IO_TYPE=LVCMOS33;

LOCATE COMP "sda2" SITE "K4";
IOBUF PORT "sda2" IO_TYPE=LVCMOS33;

LOCATE COMP "scl2" SITE "B2";
IOBUF PORT "scl2" IO_TYPE=LVCMOS33;

LOCATE COMP "sda3" SITE "K4";
IOBUF PORT "sda3" IO_TYPE=LVCMOS33;

LOCATE COMP "scl3" SITE "B2";
IOBUF PORT "scl3" IO_TYPE=LVCMOS33;

LOCATE COMP "sda4" SITE "K4";
IOBUF PORT "sda4" IO_TYPE=LVCMOS33;

LOCATE COMP "scl4" SITE "B2";
IOBUF PORT "scl4" IO_TYPE=LVCMOS33;

LOCATE COMP "sda5" SITE "K4";
IOBUF PORT "sda5" IO_TYPE=LVCMOS33;

LOCATE COMP "scl5" SITE "B2";
IOBUF PORT "scl5" IO_TYPE=LVCMOS33;

LOCATE COMP "sda6" SITE "K4";
IOBUF PORT "sda6" IO_TYPE=LVCMOS33;

LOCATE COMP "scl6" SITE "B2";
IOBUF PORT "scl6" IO_TYPE=LVCMOS33;

LOCATE COMP "sda7" SITE "K4";
IOBUF PORT "sda7" IO_TYPE=LVCMOS33;

LOCATE COMP "scl7" SITE "B2";
IOBUF PORT "scl7" IO_TYPE=LVCMOS33;